<div class="new-user-container">
  <h2>Створити користувача</h2>
  <form [formGroup]="createUserForm" (submit)="registerNewUser()">
    <mat-form-field>
      <input matInput placeholder="Логін" formControlName="login" required>
      <mat-icon matSuffix>assignment_ind</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Пароль" type="password" formControlName="password" required>
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Номер мобільного" formControlName="phone" required>
      <mat-icon matSuffix>phone_iphone</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="createUserForm.invalid">Зареєструвати</button>
  </form>
</div>
