.logo {
  width: 96px;
  margin-right: 16px;
}

.active-link {
  /*background-color: rgba(197,202,233,.3);*/
  border-bottom: solid 2px black;
}

.active-link-lookups {
  border-left: solid 2px black;
}
.spacer {
  flex: 1 1 auto;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  line-height: 62px;
}
