<nav class="navbar navbar-default">
  <div class="container-fluid">
    <mat-toolbar class="collapse navbar-collapse">
      <div class="navbar-header">
        <button mat-button routerLink="/" class="navbar-brand">Edison anticafe</button>
      </div>
      <button mat-button class="navbar-brand" routerLink="/">Головна</button>
      <button mat-button class="navbar-brand" [matMenuTriggerFor]="lookupMenu"
            class="navbar-brand">Довідники<span class="caret"></span></button>
      <mat-menu #lookupMenu="matMenu">
        <button *ngFor="let lookup of lookups"
          mat-menu-item [routerLink]="'lookup/' + lookup.name">{{lookup.caption}}</button>
      </mat-menu>
      <button mat-button class="navbar-brand" routerLink="/orders">Замовлення</button>
      <button mat-button class="navbar-brand" routerLink="/expenses">Видатики</button>
      <div class="nav navbar-nav navbar-right">
        <button mat-button
          [matMenuTriggerFor]="userMenu" 
          class="navbar-brand">User name<span class="caret"></span></button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="/">Профіль</button>
            <button mat-menu-item routerLink="/">Вихід</button>
          </mat-menu>
      </div>
    </mat-toolbar>
  </div>
</nav>