<div class="container-fluid">
  <div class="row" style="padding-left: 20px">
    <mat-form-field class="search-field">
      <input #filter matInput (keyup)="applyFilter($event.target.value)" placeholder="Пошук">
      <mat-icon *ngIf="!!filter.value" matSuffix (click)="clearFileter(filter)">clear</mat-icon>
    </mat-form-field>
    <button mat-icon-button (click)="getOrders()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<div class="container-fluid">
  <div class="grid-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource"
      matSort matSortActive="startDate" matSortDirection="desc">
    
      <!-- Columns -->
      <ng-container *ngFor="let config of columnsConfig" [matColumnDef]="config.path">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.caption}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getDisplayValue(element[config.path])}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" (dblclick)="onRowDblClick(row)" [ngClass]="getRowClass(row)"></mat-row>
    </mat-table>
  </div>
</div>