<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-4">
      <div class="input-group">
        <input 
          type="text"
          class="form-control"
          placeholder="Search for..."
          aria-label="Search for..."
          [(ngModel)]="searchFor">
        <span class="input-group-btn">
          <button
            class="btn btn-secondary"
            type="button"
            (click)="search()">Go!</button>
        </span>
      </div>
    </div>
    <div class="row">
      <mat-icon (click)="getContacts()" style="cursor: pointer">refresh</mat-icon>
      <button mat-button (click)="add()">Створити</button>
      <button *ngIf="!!selectedItem"
        mat-button color="primary"
        (click)="edit()">Редагувати</button>
      <button *ngIf="!!selectedItem"
        mat-button color="accent"
        (click)="delete()">Видалити</button>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  
  <div class="grid-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!-- Columns -->
      <ng-container *ngFor="let config of columnsConfig"
        [matColumnDef]="config.path">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.caption}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getDisplayValue(element[config.path])}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"
      [ngClass]="getRowClass(row)"></mat-row>
    </mat-table>
  </div>
</div>