<div class="container-fluid"> 
  <div class="row" style="padding-left: 20px">
    <mat-form-field class="search-field">
      <input #filter matInput (keyup)="applyFilter($event.target.value)" placeholder="Пошук">
      <mat-icon *ngIf="!!filter.value" matSuffix (click)="clearFileter(filter)">clear</mat-icon>
    </mat-form-field>
    <button mat-icon-button (click)="getContacts()">
      <mat-icon>refresh</mat-icon>
    </button>
    <!--<button mat-button (click)="add()">Створити</button>-->
    <button mat-icon-button (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
    <!--<button *ngIf="!!selectedItem" mat-button color="primary" (click)="edit()">Редагувати</button>-->
    <!--<button *ngIf="!!selectedItem" mat-button color="accent" (click)="delete()">Видалити</button>-->
      <button mat-icon-button [matMenuTriggerFor]="additionalMenu" *ngIf="!!selectedItem">
          <mat-icon>more_vert</mat-icon>
        </button>
      <mat-menu #additionalMenu="matMenu">
        <button mat-menu-item (click)="edit()">
          <mat-icon>edit</mat-icon>
          <span>Редагувати</span>
        </button>
        <button mat-menu-item (click)="delete()">
            <mat-icon>delete_forever</mat-icon>
            <span>Видалити</span>
          </button>
        <button mat-menu-item>
          <mat-icon>assignment</mat-icon>
          <span>Замовлення</span>
        </button>
      </mat-menu>
  </div>
</div>
<br />
<div class="container-fluid">
  
  <div class="grid-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!-- Columns -->
      <ng-container *ngFor="let config of columnsConfig"
        [matColumnDef]="config.path">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.caption}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getDisplayValue(element[config.path])}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"
      [ngClass]="getRowClass(row)"></mat-row>
    </mat-table>
  </div>
</div>