.fields-container {
  display: flex;
  flex-direction: column;
}

.fields-container > * {
  width: 100%;
}

.expand-wrap {
  display: flex;
  justify-content: flex-end;
}
.expand-wrap mat-icon {
  color: lightskyblue;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}