<div class="login-container">
  <form [formGroup]="form" (submit)="login()">
    <mat-form-field>
      <input matInput tabindex="1" placeholder="Логін" formControlName="username">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput tabindex="2" placeholder="Пароль" formControlName="password" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="(form?.touched || form?.dirty) && form?.invalid">Вхід</button>
  </form>
</div>
