<mat-card class="fields-container">
  <form [formGroup]="form">
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.touched || !form.valid">Зберегти</button>
      <button mat-button (click)="cancel()">Назад</button>
    </mat-card-actions>
    <mat-card-content>
      <mat-grid-list cols="24" rowHeight="60">

        <mat-grid-tile [colspan]="6">
          <mat-form-field>
            <input matInput
              tabindex="1"
              placeholder="Ім'я"
              formControlName="firstName"
              required>
          </mat-form-field>
        </mat-grid-tile>
    
        <mat-grid-tile [colspan]="6">
          <mat-form-field>
            <input
              matInput
              tabindex="2"
              placeholder="Прізвище"
              formControlName="lastName">
            </mat-form-field>
        </mat-grid-tile>
  
        <mat-grid-tile [colspan]="6">
          <mat-form-field>
              <input
                matInput
                tabindex="3"
                placeholder="Мобільний телефон"
                formControlName="mobilePhone">
            </mat-form-field>
        </mat-grid-tile>
  
        <mat-grid-tile [colspan]="6">
          <mat-form-field>
              <input
                matInput
                type="email"
                tabindex="4"
                placeholder="e-mail"
                formControlName="email">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6">
          <mat-form-field>
              <input
                matInput
                [matDatepicker]="birthDatePicker"
                tabindex="5"
                placeholder="Дата народження"
                formControlName="birthDate">
              <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthDatePicker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6">
          <mat-form-field>
            <mat-select placeholder="Вікова категорія" tabindex="6" formControlName="age">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let age of ageList" [value]="age.value">
                  {{age.displayValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6">
          <mat-form-field>
            <mat-select placeholder="Продукт" tabindex="7" formControlName="product">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let product of productList" [value]="product.value">
                {{product.displayValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6">
          <mat-form-field>
            <mat-select placeholder="ЦА" tabindex="7" formControlName="target">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let target of targetList" [value]="target.value">
                {{target.displayValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="24" [rowspan]="4">
          <mat-form-field>
            <textarea matInput tabindex="8" placeholder="Примітки" formControlName="notes"></textarea>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card-content>
  </form>
</mat-card>

